{% for group in postslist | groupby("data.year") | objectToArrayReverse %}
<h4>{{ group.year }}</h4>
<ul>
  {% for article in group.articles %}
  <li class="article">
    <a href="{{ article.url | url }}">{{ article.data.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
