{% for group in postslist | reverse | groupby("data.year") |
objectToArrayReverse %}
<h3>{{ group.year }}</h4>
<ul>
  {% for article in group.articles %}
  <li>
    <a href="{{ article.url | url }}">{{ article.data.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
