{%- for tech in stack %} {% if tech == "react" %}
<a href="https://react.dev/"
  ><img
    class="m-0"
    src="https://img.shields.io/badge/React-%2320232a.svg?logo=react&logoColor=%2361DAFB"
    alt="React"
/></a>
{% endif %} {% if tech == "github_pages" %}
<a href="https://pages.github.com/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/GitHub%20Pages-121013?logo=github&logoColor=white"
    alt="GitHub Pages"
  />
</a>
{% endif %} {% if tech == "github_actions" %}
<a href="https://github.com/features/actions">
  <img
    class="m-0"
    src="https://img.shields.io/badge/GitHub_Actions-2088FF?logo=github-actions&logoColor=white"
    alt="GitHub Actions"
/></a>
{% endif %} {% if tech == "docusaurus" %}
<a href="https://docusaurus.io/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Docusaurus-3ECC5F?logo=docusaurus&logoColor=fff"
    alt="Docusaurus"
/></a>
{% endif %} {% if tech == "tailwindcss" %}
<a href="https://tailwindcss.com/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Tailwind%20CSS-%2338B2AC.svg?logo=tailwind-css&logoColor=white"
    alt="TailwindCSS"
/></a>
{% endif %} {% if tech == "alpinejs" %}
<a href="https://alpinejs.dev/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Alpine.js-8BC0D0?logo=alpinedotjs&logoColor=fff"
    alt="AlpineJS"
/></a>
{% endif %} {% if tech == "11ty" %}
<a href="https://www.11ty.dev/">
  <img class="m-0" src="https://img.shields.io/badge/Web-11ty-blue" alt="11ty"
/></a>
{% endif %} {% if tech == "python" %}
<a href="https://www.python.org/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Python-3776AB?logo=python&logoColor=fff"
    alt="Python"
/></a>
{% endif %} {% if tech == "raspberry_pi" %}
<a href="https://www.raspberrypi.com/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/System-Raspberry_Pi-red"
    alt="Raspberry Pi"
/></a>
{% endif %} {% if tech == "android" %}
<a href="https://www.android.com/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Android-3DDC84?logo=android&logoColor=white"
    alt="Android"
/></a>
{% endif %} {% if tech == "nodejs" %}
<a href="https://nodejs.org/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Node.js-6DA55F?logo=node.js&logoColor=white"
    alt="Node.js"
/></a>
{% endif %} {% if tech == "cloudflare" %}
<a href="https://www.cloudflare.com/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/Cloudflare-F38020?logo=Cloudflare&logoColor=white"
    alt="Cloudflare"
/></a>
{% endif %} {% if tech == "typescript" %}
<a href="https://www.typescriptlang.org/">
  <img
    class="m-0"
    src="https://img.shields.io/badge/TypeScript-3178C6?logo=TypeScript&logoColor=white&style=flat-square"
    alt="TypeScript"
/></a>
{% endif %}
{%- endfor %}
