<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script defer data-domain="jameslawler.com" src="https://api.jameslawler.com/js/script.outbound-links.js"></script>
  </head>
  <body class="container mx-auto mt-4 md:mt-12 dark:bg-slate-900">
    <a href="#skip" class="hidden visually-hidden">Skip to main content</a>

    <header>
      <div class="flex items-center">
        <div class="flex flex-col flex-1">
          <a href="/" class="text-3xl pb-6 font-bold dark:text-gray-100">{{ metadata.title }}</a>
          <nav>
            <h2 class="hidden visually-hidden">Top level navigation menu</h2>
            <ul class="flex flex-row gap-8">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="dark:text-gray-100"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
            </ul>
          </nav>
        </div>
        <img src="/img/james-lawler.jpg" class="hidden size-20 rounded-full md:block" />
      </div>
      
    </header>

    <hr class="my-8 h-px bg-gray-400 border-0 dark:bg-gray-100">

    <main id="skip" class="prose max-w-none dark:prose-invert">
      {{ content | safe }}
    </main>

    <footer></footer>
  </body>
</html>
